<% include ../partials/header %>
    <!-- Subintro
================================================== -->
    <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Pages</a><i class="icon-angle-right"></i></li>
              <li class="active">About us</li>
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h2>Welcome to Lumia web studio</h2>
            <h5><i class="icon-coffee icon-circled icon-32 active"></i> We creates awesome website and premium HTML templates that really out of the box!</h5>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <!-- start: Accordion -->
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							<i class="icon-minus"></i> Website design</a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							<i class="icon-plus"></i> Web application</a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
							<i class="icon-plus"></i> Social media</a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
            <!--end: Accordion -->
          </div>
          <div class="span6">
            <div class="centered">
              <img src="assets/img/dummies/about-img1.png" alt="" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <h4 class="rheading">Recent works<span></span></h4>
            <div class="row">
              <div class="span3">
                <p class="hidden-phone">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lacus rhoncus elit egestas luctus. Nullam at lectus augue.
                </p>
                <a href="#" class="btn btn-theme">Read More</a>
              </div>
              <div class="span9">
                <div id="latest-work" class="carousel btleft">
                  <div class="carousel-wrapper">
                    <ul class="da-thumbs">
                      <li>
                        <img src="assets/img/dummies/work1.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/big1.jpg">
									<i class="icon-zoom-in icon-rounded icon-48 active"></i>
									</a>
                          <a href="portfolio-detail.html">
									<i class="icon-link icon-rounded icon-48 active"></i>
									</a>
                          <div class="hidden-tablet">
                            <p>
                              Serenity theme
                            </p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="assets/img/dummies/work2.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/big1.jpg">
									<i class="icon-zoom-in icon-rounded icon-48 active"></i>
									</a>
                          <a href="portfolio-detail.html">
									<i class="icon-link icon-rounded icon-48 active"></i>
									</a>
                          <div class="hidden-tablet">
                            <p>
                              Dark apps
                            </p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="assets/img/dummies/work3.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/big1.jpg">
									<i class="icon-zoom-in icon-rounded icon-48 active"></i>
									</a>
                          <a href="portfolio-detail.html">
									<i class="icon-link icon-rounded icon-48 active"></i>
									</a>
                          <div class="hidden-tablet">
                            <p>
                              Mobile apps
                            </p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="assets/img/dummies/work4.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/big1.jpg">
									<i class="icon-zoom-in icon-rounded icon-48 active"></i>
									</a>
                          <a href="portfolio-detail.html">
									<i class="icon-link icon-rounded icon-48 active"></i>
									</a>
                          <div class="hidden-tablet">
                            <p>
                              Mobile template
                            </p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="assets/img/dummies/work5.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/big1.jpg">
									<i class="icon-zoom-in icon-rounded icon-48 active"></i>
									</a>
                          <a href="portfolio-detail.html">
									<i class="icon-link icon-rounded icon-48 active"></i>
									</a>
                          <div class="hidden-tablet">
                            <p>
                              Business theme
                            </p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="assets/img/dummies/work6.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/big1.jpg">
									<i class="icon-zoom-in icon-rounded icon-48 active"></i>
									</a>
                          <a href="portfolio-detail.html">
									<i class="icon-link icon-rounded icon-48 active"></i>
									</a>
                          <div class="hidden-tablet">
                            <p>
                              Portfolio graphic
                            </p>
                          </div>
                        </article>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include ../partials/footer %>