<% include ../partials/header %>
    <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Features</a><i class="icon-angle-right"></i></li>
              <li class="active">Buttons</li>
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="maincontent" class="demo">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span6">
                <h4 class="rheading">Available buttons<span></span></h4>
                <p>
                  Lumia template has 8 buttons which compliment with twitter bootstrap
                </p>
                <a href="#" class="btn">btn default</a>
                <a href="#" class="btn btn-theme">btn theme</a>
                <a href="#" class="btn btn-primary">btn-primary</a>
                <a href="#" class="btn btn-warning">btn-warning</a>
                <a href="#" class="btn btn-danger">btn-danger</a>
                <a href="#" class="btn btn-info">btn-info</a>
                <a href="#" class="btn btn-success">btn-success</a>
                <a href="#" class="btn btn-inverse">btn-inverse</a>
              </div>
              <div class="span6">
                <div class="rheading">
                  <span></span>
                  <h4>Button sizes</h4>
                </div>
                <p>
                  There are 5 button size variations: normal, mini, small, medium and large. You can apply desired size on available buttons by adding button size class, for example add <code>.btn-mini</code> for mini button
                </p>
                <a href="#" class="btn btn-theme">normal size</a>
                <a href="#" class="btn btn-mini btn-theme">btn mini</a>
                <a href="#" class="btn btn-small btn-theme">btn small</a>
                <a href="#" class="btn btn-medium btn-theme">btn medium</a>
                <a href="#" class="btn btn-large btn-theme">btn large</a>
              </div>
            </div>
            <div class="row">
              <div class="span6">
                <div class="rheading">
                  <span></span>
                  <h4>Button edges</h4>
                </div>
                <p>
                  Lumia template has 8 buttons which compliment with twitter bootstrap
                </p>
                <a href="#" class="btn btn-theme">normal type</a>
                <a href="#" class="btn btn-primary btn-flat">square type</a>
                <a href="#" class="btn btn-warning btn-rounded">rounded type</a>
              </div>
              <div class="span6">
                <div class="rheading">
                  <span></span>
                  <h4>With icon</h4>
                </div>
                <p>
                  There are 5 button size variations: normal, mini, small, medium and large. You can apply desired size on available buttons by adding button size class, for example add <code>.btn-mini</code> for mini button
                </p>
                <a href="#" class="btn btn-theme"><i class="icon-briefcase"></i> put icon before text</a>
                <a href="#" class="btn btn-theme">put icon after text <i class="icon-leaf"></i></a>
                <a href="#" class="btn btn-small btn-theme">btn small</a>
                <a href="#" class="btn btn-medium btn-theme">btn medium</a>
                <a href="#" class="btn btn-large btn-theme">btn large</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include ../partials/footer %>