<% include ../partials/header %>
      <section id="subintro">
        <div class="container">
          <div class="row">
            <div class="span8">
              <ul class="breadcrumb">
                <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                <li><a href="#">Features</a><i class="icon-angle-right"></i></li>
                <li class="active">10 predefined theme colors</li>
              </ul>
            </div>
            <div class="span4">
              <div class="search">
                <form class="input-append">
                  <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                  <button class="btn btn-dark" type="submit">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="maincontent">
        <div class="container">
          <div class="row">
            <div class="span12">
              <h2>Welcome to Lumia web studio</h2>
              <h5><i class="icon-coffee icon-circled icon-32 active"></i> We creates awesome website and premium HTML templates that really out of the box!</h5>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <h4 class="rheading">8 Predefined template colors<span></span></h4>
              <div class="row">
                <div class="span3">
                  <h6>Default (default.css)</h6>
                  <div class="color-box default">
                    <p class="first">
                      #3498db
                    </p>
                    <p class="sec">
                      #2980b9
                    </p>
                  </div>
                </div>
                <div class="span3">
                  <h6>Red (red.css)</h6>
                  <div class="color-box red">
                    <p class="first">
                      #bf383a
                    </p>
                    <p class="sec">
                      #8a2a2b
                    </p>
                  </div>
                </div>
                <div class="span3">
                  <h6>Yellow (yellow.css)</h6>
                  <div class="color-box yellow">
                    <p class="first">
                      #f8ae35
                    </p>
                    <p class="sec">
                      #e19f32
                    </p>
                  </div>
                </div>
                <div class="span3">
                  <h6>Green (green.css)</h6>
                  <div class="color-box green">
                    <p class="first">
                      #15c177
                    </p>
                    <p class="sec">
                      #05a15e
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="span3">
                  <h6>Orange (orange.css)</h6>
                  <div class="color-box orange">
                    <p class="first">
                      #e95b21
                    </p>
                    <p class="sec">
                      #c24c1c
                    </p>
                  </div>
                </div>
                <div class="span3">
                  <h6>Cyan (cyan.css)</h6>
                  <div class="color-box cyan">
                    <p class="first">
                      #1baab9
                    </p>
                    <p class="sec">
                      #158b97
                    </p>
                  </div>
                </div>
                <div class="span3">
                  <h6>Grey (grey.css)</h6>
                  <div class="color-box grey">
                    <p class="first">
                      #8993a0
                    </p>
                    <p class="sec">
                      #666e78
                    </p>
                  </div>
                </div>
                <div class="span3">
                  <h6>Purple (purple.css)</h6>
                  <div class="color-box purple">
                    <p class="first">
                      #9b218e
                    </p>
                    <p class="sec">
                      #691760
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<% include ../partials/footer %>