<% include ../partials/header %>
    <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Features</a><i class="icon-angle-right"></i></li>
              <li class="active">Icon variations</li>
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="maincontent" class="demo">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                <h4 class="rheading">Square icons<span></span></h4>
                <p>
                  See example below
                </p>
                <p>
                  <i class="icon-square icon-suitcase"></i> icon-suitcase
                </p>
                <pre class="prettyprint linenums">
							 &lt;i class="icon-square icon-suitcase"&gt;&lt;/i&gt; icon-suitcase
						</pre>
              </div>
              <div class="span3">
                <h4 class="rheading">Rounded icons<span></span></h4>
                <p>
                  See example below
                </p>
                <p>
                  <i class="icon-rounded icon-flag"></i> icon-flag
                </p>
                <pre class="prettyprint linenums">
							 &lt;i class="icon-rounded icon-flag"&gt;&lt;/i&gt; icon-flag
						</pre>
              </div>
              <div class="span3">
                <h4 class="rheading">Circled icons<span></span></h4>
                <p>
                  See example below
                </p>
                <p>
                  <i class="icon-circled icon-plane"></i> icon-plane
                </p>
                <pre class="prettyprint linenums">
							 &lt;i class="icon-circled icon-plane"&gt;&lt;/i&gt; icon-plane
						</pre>
              </div>
              <div class="span3">
                <h4 class="rheading">Inverse color icon<span></span></h4>
                <p>
                  See example below
                </p>
                <p>
                  <i class="icon-square active icon-cogs"></i> icon-cogs
                </p>
                <pre class="prettyprint linenums">
							 &lt;i class="icon-square icon-adjust"&gt;&lt;/i&gt; icon-cogs
						</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include ../partials/footer %>