<% include ../partials/header %>
    <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Pages</a><i class="icon-angle-right"></i></li>
              <li class="active">Responsive media</li>
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                <h4 class="rheading">Responsive image<span></span></h4>
                <img src="assets/img/dummies/blog1.jpg" alt="" />
              </div>
              <div class="span3">
                <h4 class="rheading">Responsive video<span></span></h4>
                <div class="video-container">
                  <iframe src="http://player.vimeo.com/video/30585464?title=0&amp;byline=0">
							</iframe>
                </div>
              </div>
              <div class="span3">
                <h4 class="rheading">Responsive map<span></span></h4>
                <div class="map-container">
                  <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=peterongan+semarang&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.494074,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Peterongan,+Semarang,+Central+Java,+Indonesia&amp;t=m&amp;z=14&amp;ll=-6.991778,110.424719&amp;output=embed">
							</iframe>
                </div>
              </div>
              <div class="span3">
                <h4 class="rheading">Responsive embed audio<span></span></h4>
                <div class="embed-container">
                  <iframe src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F79069430">
							</iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
<% include ../partials/footer %>