<% include ../partials/header %> 
    <!-- Subintro
================================================== -->
    <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Portfolio</a><i class="icon-angle-right"></i></li>
              <li class="active">Portfolio 3 columns</li>
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="filter">
              <li class="all active"><a href="#" class="btn">All categories</a></li>
              <li class="web"><a href="#" class="btn">Web design</a></li>
              <li class="brand"><a href="#" class="btn">Brand identity</a></li>
              <li class="graphic"><a href="#" class="btn">Graphic design</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <ul class="portfolio-area da-thumbs">
            <li class="portfolio-item" data-id="id-0" data-type="web">
              <div class="span4">
                <div class="thumbnail">
                  <div class="image-wrapp">
                    <img src="/img/dummies/work1.jpg" alt="Portfolio name" title="" />
                    <article class="da-animate da-slideFromRight">
                      <a class="zoom" data-pretty="prettyPhoto" href="/img/dummies/big1.jpg">
							<i class="icon-zoom-in icon-rounded icon-48 active"></i>
							</a>
                      <a href="portfolio-detail.html">
							<i class="icon-link icon-rounded icon-48 active"></i>
							</a>
                      <div class="hidden-tablet">
                        <p>
                          Serenity theme
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </li>
            <li class="portfolio-item" data-id="id-0" data-type="web">
              <div class="span4">
                <div class="thumbnail">
                  <div class="image-wrapp">
                    <img src="/img/dummies/work2.jpg" alt="Portfolio name" title="" />
                    <article class="da-animate da-slideFromRight">
                      <a class="zoom" data-pretty="prettyPhoto" href="/img/dummies/big1.jpg">
							<i class="icon-zoom-in icon-rounded icon-48 active"></i>
							</a>
                      <a href="portfolio-detail.html">
							<i class="icon-link icon-rounded icon-48 active"></i>
							</a>
                      <div class="hidden-tablet">
                        <p>
                          Dark apps
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </li>
            <li class="portfolio-item" data-id="id-0" data-type="brand">
              <div class="span4">
                <div class="thumbnail">
                  <div class="image-wrapp">
                    <img src="/img/dummies/work3.jpg" alt="Portfolio name" title="" />
                    <article class="da-animate da-slideFromRight">
                      <a class="zoom" data-pretty="prettyPhoto" href="/img/dummies/big1.jpg">
							<i class="icon-zoom-in icon-rounded icon-48 active"></i>
							</a>
                      <a href="portfolio-detail.html">
							<i class="icon-link icon-rounded icon-48 active"></i>
							</a>
                      <div class="hidden-tablet">
                        <p>
                          Mobile apps
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </li>
            <li class="portfolio-item" data-id="id-0" data-type="photo">
              <div class="span4">
                <div class="thumbnail">
                  <div class="image-wrapp">
                    <img src="/img/dummies/work4.jpg" alt="Portfolio name" title="" />
                    <article class="da-animate da-slideFromRight">
                      <a class="zoom" data-pretty="prettyPhoto" href="/img/dummies/big1.jpg">
							<i class="icon-zoom-in icon-rounded icon-48 active"></i>
							</a>
                      <a href="portfolio-detail.html">
							<i class="icon-link icon-rounded icon-48 active"></i>
							</a>
                      <div class="hidden-tablet">
                        <p>
                          Mobile template
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </li>
            <li class="portfolio-item" data-id="id-0" data-type="graphic">
              <div class="span4">
                <div class="thumbnail">
                  <div class="image-wrapp">
                    <img src="/img/dummies/work5.jpg" alt="Portfolio name" title="" />
                    <article class="da-animate da-slideFromRight">
                      <a class="zoom" data-pretty="prettyPhoto" href="/img/dummies/big1.jpg">
							<i class="icon-zoom-in icon-rounded icon-48 active"></i>
							</a>
                      <a href="portfolio-detail.html">
							<i class="icon-link icon-rounded icon-48 active"></i>
							</a>
                      <div class="hidden-tablet">
                        <p>
                          Business theme
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </li>
            <li class="portfolio-item" data-id="id-0" data-type="graphic">
              <div class="span4">
                <div class="thumbnail">
                  <div class="image-wrapp">
                    <img src="/img/dummies/work6.jpg" alt="Portfolio name" title="" />
                    <article class="da-animate da-slideFromRight">
                      <a class="zoom" data-pretty="prettyPhoto" href="/img/dummies/big1.jpg">
							<i class="icon-zoom-in icon-rounded icon-48 active"></i>
							</a>
                      <a href="portfolio-detail.html">
							<i class="icon-link icon-rounded icon-48 active"></i>
							</a>
                      <div class="hidden-tablet">
                        <p>
                          Portfolio graphic
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="span12">
            <div class="pagination">
              <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include ../partials/footer %> 