<% include ../partials/header %>
    <!-- Subintro
================================================== -->
    <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Pages</a><i class="icon-angle-right"></i></li>
              <li class="active">About us</li>
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h3>Example pricing boxes</h3>
            <div class="row">
              <div class="span3">
                <div class="priceBox">
                  <h4 class="light">Standard</h4>
                  <hr>
                  <span class="emphasis">$9.99 <em>per month</em></span>
                  <hr>
                  <span>5 GB Storage</span>
                  <hr>
                  <span>Free Live Support</span>
                  <hr>
                  <span>Unlimited Users</span>
                  <hr>
                  <span>No Time Tracking</span>
                  <hr>
                  <span>Enhanced SSL Security</span>
                  <hr>
                  <span class="emphasis-2"><a class="btn btn-theme" href="#"><i class="icon-check"></i> Order</a></span>
                </div>
              </div>
              <div class="span3">
                <div class="priceBox">
                  <h4 class="light">Premium</h4>
                  <hr>
                  <span class="emphasis">$19.99 <em>per month</em></span>
                  <hr>
                  <span>5 GB Storage</span>
                  <hr>
                  <span>Free Live Support</span>
                  <hr>
                  <span>Unlimited Users</span>
                  <hr>
                  <span>No Time Tracking</span>
                  <hr>
                  <span>Enhanced SSL Security</span>
                  <hr>
                  <span class="emphasis-2"><a class="btn btn-theme" href="#"><i class="icon-check"></i> Order</a></span>
                </div>
              </div>
              <div class="span3">
                <div class="priceBox special">
                  <h4 class="light">Professional</h4>
                  <hr>
                  <span class="emphasis">$49.99 <em>per month</em></span>
                  <hr>
                  <span>5 GB Storage</span>
                  <hr>
                  <span>Free Live Support</span>
                  <hr>
                  <span>Unlimited Users</span>
                  <hr>
                  <span>No Time Tracking</span>
                  <hr>
                  <span>Enhanced SSL Security</span>
                  <hr>
                  <span class="emphasis-2"><a class="btn btn-theme" href="#"><i class="icon-check"></i> Order</a></span>
                </div>
              </div>
              <div class="span3">
                <div class="priceBox">
                  <h4 class="light">Ultimate</h4>
                  <hr>
                  <span class="emphasis">$109.99 <em>per month</em></span>
                  <hr>
                  <span>5 GB Storage</span>
                  <hr>
                  <span>Free Live Support</span>
                  <hr>
                  <span>Unlimited Users</span>
                  <hr>
                  <span>No Time Tracking</span>
                  <hr>
                  <span>Enhanced SSL Security</span>
                  <hr>
                  <span class="emphasis-2"><a class="btn btn-theme" href="#"><i class="icon-check"></i> Order</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include ../partials/footer %>